<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Payment</title>
</head>
    <body>
        <div class="container mt-5">
            <form action="" class="p-3">
                <div class="row">
                    <div class="col md-12">
                        <h2 class="text-uppercase text-center p-3">Payment form</h2>
                        <hr style="color: black;">
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" placeholder="Pay code" id="" name="" class="form-control">
                                <small>Error</small>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="number" placeholder="Pay amount" id="" name="" class="form-control">
                                <small>Error</small>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="date" placeholder="Pay date" id="" name="" class="form-control">
                                <small>Error</small>
                            </div>
                            
                            
                           
                            
                                
                                    <button class="btn btn-primary ml-5 col-md-6 ml-5 ">Pay now</button>
                                    
                                 
                            
                            
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>