<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:input="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View User Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<div class="container mt-5">
    <div>
        <table class="table table-bordered">
            <thead>
                    <tr class="text-center text-capitalize">
                        <th>User_id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Gender</th>
                        <th>Date of Birth</th>
                        <th>E-mail</th>
                        <th>Phone No</th>
                        <th>Action</th>

                    </tr>

            </thead>
            <tbody>
            <tr th:each="user:${userList}">
                <td th:text="${user.id}"> </td>
                <td th:text="${user.fName}"> </td>
                <td th:text="${user.lName}"> </td>
                <td th:text="${user.address}"> </td>
                <td th:text="${user.city}"> </td>
                <td th:text="${user.gender}"> </td>
                <td th:text="${user.dob}"> </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNo}"></td>

                <td>
                    <a th:href="@{'/edit/form/' +${user.id}}" class="btn btn-info ml-3 ">Edit</a>
                    <a th:href="@{'/delete/form/' +${user.id}}" class="btn btn-info ">Delete</a>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>