body {
    font-family: 'Times New Roman', Times, serif;
}

/* dashboards */
/* sidebar */
.sidebarcolor {
    background-color: aqua;
    height: 100vh;
}


/* end of sidebar */

/* top bar */
.top-navbar{
  background-color: black;
}
.mwisho {
    margin-left: 300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  li a:hover{
      background-color: whitesmoke;
  }
/* end of dashboards */


/* client form */
.container{
    width: 100%;
    height:100vh ;
    float: left;
}
form {
    background-color: lightblue;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px 0 0 10px;
  }
  form input {
    margin-bottom: 12px;
    margin-left: 10px;
    border: none;
  }
  form small {
    margin-left: 20px;
    visibility: hidden;
  }
  form button {
    margin-left: 10px;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  form .form-group.error input {
    border-color: red;
}
form .form-group small {
    padding-left: 10px;
    visibility: hidden;
}
  
  form .form-group.error small {
    visibility: hidden;
    color: red;
  }
  
  form .form-group.success input {
    border: 2px solid green;
  }
  
